@media only screen and (min-width: 800px) {
  .post--metadata {
    display: grid;
    grid-template-columns: 0.8fr 2.2fr 0.4fr 1fr;
    -webkit-box-align: center;
    align-items: center;
  }
}

.post__tag {
  padding: 3px 5px;
  background-color: #dcdcdc;
  margin: 2px 3px;
  border-radius: 3px;
  display: inline-block;
}
.post--body {
  margin: 0px 10px;
}

/* pre {
  margin-bottom: 1em;
  padding: 5%;
  width: auto;
  
  overflow: auto;
  font-size: 1.4em;
  line-height: 1.3em;
} */

/* img {
  max-width: 100%;
} */
.center {
  display: block;
  margin: 50px auto;
  box-shadow: -3px 8px 10px #d8d8d8;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 2px;
}

.post--title {
  font-size: 36px;
  margin: 15px 0 5px;
  font-weight: 400;
}
.post--sub-title {
  font-weight: 400;
  font-size: 22px;
  margin-top: 10px;
}

.post--metadata {
  margin-top: 10px;
}

.post--title__image {
  width: 100%;
  height: auto;
}
/* h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--textblack);
} */
