@import './nprogress.css';

/* Theme Purple #501885 */

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  line-height: 1.4;
  color: #464655;
}

* {
  box-sizing: border-box;
}

.padding-right20 {
  padding-right: 20px;
}

.padding-left20 {
  padding-left: 20px;
}

.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.container {
  max-width: 1072px;
  box-sizing: border-box;
}

p {
  letter-spacing: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.68rem;
  color: #464655;
  text-align: justify;
}

@media only screen and (min-width: 800px) {
  .listing--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
}

@media only screen and (max-width: 799px) {
  .listing--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;
  margin: 25px;
  padding-top: 10px;
  /* display: grid; */
  justify-items: right;
  grid-template-columns: 1fr;
  grid-template-rows: none;
}

.footer-links {
  padding: 10px 10px;
  text-decoration: none;
  color: #464655;
  /* border-bottom: 1px #9c27b0;
  border-bottom-style: dashed; */
  margin-right: 5px;
}

.footer-links::first-letter {
  text-transform: uppercase;
  font-weight: bold;
  color: red;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b;
  color: #bababa;
  line-height: 1.9;
  font-size: 18px;
  border-radius: 15px;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #6896ba;
}

.hljs-code,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #cb7832;
}

.hljs-params {
  color: #b9b9b9;
}

.hljs-string {
  color: #6a8759;
}

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #e0c46c;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #7f7f7f;
}

.post--container {
  /* grid-area: post; */
  align-self: start;
}
@media only screen and (min-width: 800px) {
  .listing--container > :nth-child(1) {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5px;
  }

  .listing--container :nth-child(1) .post--title-image {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    align-self: start;
    /* height: 350px; */
  }

  .listing--container :nth-child(1) .post--header {
    margin-top: 0px;
    margin-left: 15px;
    display: block;
  }

  .listing--container :nth-child(1) .post--header .post--title,
  .listing--container :nth-child(1) .post--header .post--subTitle {
    margin-top: 0px;
  }
  .listing--container :nth-child(1) div > img:last-of-type {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: start;
    margin-left: 15px;
  }
}

.post--title-image {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--textBlack);
}

.post--title {
  font-size: 1.3rem;
  font-weight: 400;
}

@keyframes falldown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.link {
  padding: 0.7em 0.5em;
  color: #161e1e;
  position: relative;
  display: inline-block;
}
.link.active::after {
  position: absolute;
  content: '';
  width: calc(100% - 1em);
  height: 2px;
  background-color: rgb(255, 62, 0);
  display: block;
  bottom: -1px;
}

.page-title {
  color: #464655;
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid #ececec;
}

/* .container img {
  width: 100%;
  height: auto;
} */

pre.hljs {
  margin-bottom: 1em;
  padding: 5%;
  width: auto;
  overflow: auto;
}

.container img.center {
  display: block;
  margin: 50px auto;
  box-shadow: -3px 8px 10px #d8d8d8;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 2px;
}
